.katex { font-size: 1.15em; }

span {
  user-select: none;
  text-align: left;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

.explanation_refinement_button {
  display: inline-block;
  user-select: none;
  cursor: default;
  color: #ccc;
}

.explanation_indent {
  padding-left: 0.3em;
  border-left: 3px solid #ccc;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.3em;
}

.highlighted {
  background-color: aqua;
  transition: background-color 0.25s;
}

.highlighted .Latex {
  background-color: aqua;
}